.Quiz {
    text-align: center;
}
  

.Quiz-header {
    background-color: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--bkg1);
    color: white;
}
.headerbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.head-redirect + .head-redirect {
    margin-left: 3em;
}

.head-redirect {
    margin-top: 0px !important;
    border-top: none;
    color: white;
    border: none;
}

.head-right {
    display: flex;
    align-items: center;
}