:root {
    --bkg1: #add8e6;
    --bkg2: white;
    --button_hover: #9dc0cc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: black;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--bkg1);
}

.welcome-heading {
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 60px;
    font-weight: 1;
    margin-top: 10px;
    letter-spacing: 0.3rem;
}

.line {
    height: 1.5px;
    background: black;
    margin-top: 5px;
    margin-bottom: 30px;
}

.learn-more {
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

button {
    padding: 10px 30px 10px 30px;
    background-color: var(--bkg1);
    border: 1px, solid;
    border-color: black;
    color: black;
    margin-top: 30px;
}

button:hover {
    background-color: var(--button_hover);
    cursor: pointer;
    padding: 13px 33px 13px 33px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}
.arrow:hover {
    border-width: 0 5px 5px 0;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down:hover {
    cursor: pointer;
}




.game-info-container {
    background-color: var(--bkg2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info-container section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info-container p  {
    margin-top: 20px;
    font-size: small;
    text-align: center;
}





.about-container {
    background-color: var(--bkg1);
    display: flex;
}
.about-heading {
    font-size: 30px;
}
.about-text {
    margin-top: 0px;
}

.about-section {
    width: 690px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 100px;
    padding-left: 20px;
    float: left;
}

p {
    margin-bottom: 0px;
}

.about-sign {
    margin-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about-sign-img {
    margin-left: 40px;
}

.about-sign-img-1 {
    margin-left: 5px;
}

.p-1 {
    margin-left: 200px;
}

.letter-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}


.dev-info-container {
    background-color: var(--bkg2);
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
}
.dev-photos {
    float: left;
    width: 600px;
    display: flex;
}
.dev-img {
    margin-top: 55px;
    margin-left: 40px;
}
.meet-devs-section {
    width: 550px;
    padding: 0px;
    padding-top: 20px;
    margin-right: 0px;
    margin-left: 100px;
}

.meet-devs-heading {
    font-size: 30px;
}

.meet-devs-section .line {
    margin-bottom: 10px;
}

.biographies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-align: center;
}

.dev-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.dev-description {
    margin-top: 0px;
    font-size: 15px;
}


