:root {
    --bkg1: #add8e6;
    --bkg2: white;
    --button_hover: #9dc0cc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: black;
}

button {
    padding: 10px 30px 10px 30px;
    background-color: var(--bkg1);
    border: 1px, solid;
    border-color: black;
    color: black;
    transition: 0.3s;
}

button:hover {
    background-color: var(--button_hover);
    cursor: pointer;
    scale: 1.2;
}

.game-info-container {
    background-color: var(--bkg2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info-container section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info-container p  {
    margin-top: 20px;
    font-size: small;
    text-align: center;
}


.dev-info-container {
    background-color: var(--bkg2);
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
}
.dev-photos {
    float: left;
    width: 600px;
    display: flex;
}
.dev-img {
    margin-top: 55px;
    margin-left: 40px;
}
.meet-devs-section {
    width: 550px;
    padding: 0px;
    padding-top: 20px;
    margin-right: 0px;
    margin-left: 100px;
}

.meet-devs-heading {
    font-size: 30px;
}

.meet-devs-section .line {
    margin-bottom: 10px;
}

.biographies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-align: center;
}

.dev-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.dev-description {
    margin-top: 0px;
    font-size: 15px;
}


