:root {
    --bkg1: #add8e6;
    --bkg2: white;
    --button_hover: #9dc0cc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: black;
}

button {
    padding: 10px 30px 10px 30px;
    background-color: var(--bkg1);
    border: 1px, solid;
    border-color: black;
    color: black;
    margin-top: 30px;
}

button:hover {
    background-color: var(--button_hover);
    cursor: pointer;
    padding: 13px 33px 13px 33px;
}

.game-info-container {
    background-color: var(--bkg2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info-container button {
    margin-top: 15px;
}


.game-info-container section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gimg {
    margin-bottom: 15px;
}

.game-info-container p  {
    margin-top: 20px;
    font-size: small;
    text-align: center;
}